# Ignore virtual environment
venv/
env/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore .Vscode
.vscode/

# Specific ignored files
hashed.py
resize.py
LMS.session.sql
tuple_checking.py
Responsibilities.txt
Library Management System.pdf
Information about LMS
checking append.py
ER Diagram.png
download.jpeg
background.webp
background.webp


"Hosted link.txt"

greatescapewoodlandsnursinghome.jpg
