<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View reservations</title>
    <link rel="stylesheet" href="/static/CSS/tables.css"> <!-- Link to external CSS file -->

</head>
<body>
    <h1 style="text-align: center;">Reservations List</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Reservations..." onkeyup="filterTable()">
    </div>
    <table id="dataTable"
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Books</th>
                <th>Date</th>
                <th>Status</th>
  
                
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation[0] }}</td>
                <td>{{ reservation[1] }}</td>
                <td>{{ reservation[2] }}</td>
                <td>{{ reservation[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/search.js"></script>

</body>
</html>
