<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View reservations</title>
</head>
<body>
    <h1>reservation List</h1>
    <table>
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Books</th>
                <th>Date</th>
                <th>Status</th>
  
                
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation[0] }}</td>
                <td>{{ reservation[1] }}</td>
                <td>{{ reservation[2] }}</td>
                <td>{{ reservation[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
