<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View issued_books</title>
    <link rel="stylesheet" href="/static/CSS/tables.css"> <!-- Link to external CSS file -->

</head>
<body>
    <header>
        <button style="float: right;">
            <a href="{% if role|lower == 'member' %}/members_dashboard
            {% elif role|lower== 'staff' %}/staff_dashboard
            {% elif role|lower == 'admin' %}/admin_dashboard
            {% else %}/
            {% endif %}" class="back-button">
                Go Back
            </a>
        </button> 
    </header>
    <h1 style="text-align: center;">Issued Books List</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Issued Books..." onkeyup="filterTable()">
    </div>
    <table id="dataTable"
        <thead>
            <tr>
                <th>Issued ID</th>
                <th>Name</th>
                <th>Books</th>
                <th>Date</th>
                <th>Status</th>
  
                
            </tr>
        </thead>
        <tbody>
            {% for books in issued_books %}
            <tr>
                <td>{{ books[3] }}</td>
                <td>{{ books[0] }}</td>
                <td>{{ books[1] }}</td>
                <td>{{ books[2] }}</td>
                <td>{{ books[4] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/javascript/search.js"></script>

</body>
</html>
