<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View fine_history</title>
    <link rel="stylesheet" href="/static/CSS/tables.css"> <!-- Link to external CSS file -->

</head>
<body>
    <header>
        <button style="float: right;">
            <a href="{% if role|lower == 'member' %}/members_dashboard
            {% elif role|lower== 'staff' %}/staff_dashboard
            {% elif role|lower == 'admin' %}/admin_dashboard
            {% else %}/
            {% endif %}" class="back-button">
                Go Back
            </a>
        </button> 
    </header>
        <h1 style="text-align: center;">Fines List</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search fines..." onkeyup="filterTable()">
    </div>
    <table id="dataTable">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Books</th>
                <th>Amount</th>
                <th>Issued Date</th>
                <th>Fine Date</th>
                <th>Payment Date</th>
                <th>Status</th>
                <th>Handled by</th>
   
                
            </tr>
        </thead>
        <tbody>
            {% for fines in fines_history %}
            <tr>
                <td>{{ fines[0] }}</td>
                <td>{{ fines[1] }}</td>
                <td>{{ fines[2] }}</td>
                <td>{{ fines[4] }}</td>
                <td>{{ fines[5] }}</td>
                <td>{{ fines[6] }}</td>
                <td>{{ fines[7] }}</td>
                <td>{{ fines[8] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/javascript/search.js">

    </script>
</body>
</html>
