<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Books Copies</title>
    <link rel="stylesheet" href="/static/CSS/tables.css"> <!-- Link to external CSS file -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    <h1 style="text-align: center;">Book Copies</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Books..." onkeyup="filterTable()">
    </div>
    <table id="dataTable"
        <thead>
            <tr>
                <th>Copy ID</th>
                <th>Book Name</th>
                <th>Condition</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>
                    <button class="edit-btn" data-copy-id="{{ book[0] }}" onclick="handleEdit(this)">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/static/javascript/search.js"></script>

</body>
</html>
