<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="/static/CSS/tables.css"> <!-- Link to external CSS file -->
    <script src="/static/javascript/edits.js"></script> <!-- This should be last -->

</head>
<body>
    <h1 style="text-align: center;">Staffs List</h1>
    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Staffs..." onkeyup="filterTable()">
    </div>
    <table id="dataTable">
        <thead>
            <tr>
                <th>Staff ID</th>

                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Join Date</th>
                <th>Action</th>
   
                
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[5] }}</td>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
                <td>
                    <button class="edit-btn" data-table="staff" data-id="{{ book[5] }}" onclick="handleEdit(this)">Edit</button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="/static/javascript/search.js"></script>
    <div id="edit-form-container"></div>  <!-- Empty before clicking "Edit" -->

</body>
</html>
